@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0deg, black, rgb(49, 48, 48));
    min-height: 100vh;
    flex-direction: column;
}

.slogan {
    color: purple;
    font-family: 'Rubik Iso', cursive;
    padding: 10px;
    font-size: 20pt;
}

canvas {
    display: block;
    /* margin: 0 auto; */

    border: 1px solid black;
}

.container {
    /* margin: 0 auto; */
    position: relative;
    width: 320;
    height: 480;
}

.glow::before, .glow::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background:
        linear-gradient(45deg, 
            #e6fb84,#ff6600,
            #00ff66,#00ffff,
            #ff00ff,#ff0099,
            #6e0dd0, #ff3300, 
            #099fff);

    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(15px);
}

/* 

position: relative;
margin: 10% auto 0;
width: 58%;
heigth: 400px
background: linear-gradient(0deg, black, black;
*/